<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - restaurant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" target="_blank">Fima</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Yonetici" asp-controller="Category" asp-action="Index">Kategori</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Yonetici" asp-controller="Menu" asp-action="Index">Menü</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Yonetici" asp-controller="Rezervasyon" asp-action="Index">Rezervasyon</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Yonetici" asp-controller="Galeri" asp-action="Index">Galeri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Yonetici" asp-controller="Hakkında" asp-action="Index">Hakkımızda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Yonetici" asp-controller="Blog" asp-action="Index">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Yonetici" asp-controller="Iletisim" asp-action="Index">Mesajlar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Yonetici" asp-controller="Iletisimim" asp-action="Index">İletişim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Yonetici" asp-controller="User" asp-action="Index">Kullanıcılar</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                }
                else
                {
                    //kullancı giriş yaptıysa yukarıdaki sayfaları görebilir
                   //yapmadıysa herhangi bir işlem yok
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() <!--header ve footer arasında oluşturulan metot ve içerikler bu alana denk gelir-->
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - restaurant - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
