
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/WebSite/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/WebSite/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/WebSite/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/WebSite/fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/WebSite/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/WebSite/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/WebSite/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/WebSite/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/WebSite/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/WebSite/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/WebSite/vendor/lightbox2/css/lightbox.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/WebSite/css/util.css">
    <link rel="stylesheet" type="text/css" href="/WebSite/css/main.css">
    <!--===============================================================================================-->
</head>
<body class="animsition">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="wrap-menu-header gradient1 trans-0-4">
            <div class="container h-full">
                <div class="wrap_header trans-0-3">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="/WebSite/images/logo.png" alt="IMG-LOGO" data-logofixed="/WebSite/images/logo.png">
                        </a>
                    </div>

                    <!-- Menu -->
                    <div class="wrap_menu p-l-45 p-l-0-xl">
                        <nav class="menu">
                            <ul class="main_menu">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a asp-area="Musteri" asp-controller="Home" asp-action="Index">Anasayfa</a>
                                    </li>

                                    <li>
                                        <a asp-area="Musteri" asp-controller="Home" asp-action="Menu">Menü</a>
                                    </li>

                                    <li>
                                        <a asp-area="Musteri" asp-controller="Home" asp-action="Rezervasyon">Rezervasyon</a>
                                    </li>

                                    <li>
                                        <a asp-area="Musteri" asp-controller="Home" asp-action="Galeri">Galerİ</a>
                                    </li>

                                    <li>
                                        <a asp-area="Yonetici" asp-controller="Menu" asp-action="Index" target="_blank">Yönetİcİ Panelİ</a>
                                    </li>
                                    <li class="nav-item">
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button type="submit" class="nav-link btn btn-link text-white">ÇIKIŞ</button>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a asp-area="Musteri" asp-controller="Home" asp-action="Index">Anasayfa</a>
                                    </li>

                                    <li>
                                        <a asp-area="Musteri" asp-controller="Home" asp-action="Menu">Menü</a>
                                    </li>

                                    <li>
                                        <a asp-area="Musteri" asp-controller="Home" asp-action="Rezervasyon">Rezervasyon</a>
                                    </li>

                                    <li>
                                        <a asp-area="Musteri" asp-controller="Home" asp-action="Galeri">Galerİ</a>
                                    </li>

                                    <li>
                                        <a asp-area="Musteri" asp-controller="Home" asp-action="Hakkında">Hakkımızda</a>
                                    </li>

                                    <li>
                                        <a asp-area="Musteri" asp-controller="Home" asp-action="Blog">Blog</a>
                                    </li>

                                    <li>
                                        <a asp-area="Musteri" asp-controller="Home" asp-action="Iletisim">İletİşİm</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>

                    <!-- Social -->
                    <div class="social flex-w flex-l-m p-r-20">

                        <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Sidebar -->
    <aside class="sidebar trans-0-4">
        <!-- Button Hide sidebar -->
        <button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

        <!-- MOBİL İÇİN MENÜ DÜZEN -->
        <ul class="menu-sidebar p-t-95 p-b-70">
            <li class="t-center m-b-13">
                <a asp-area="Musteri" asp-controller="Home" asp-action="Index" class="txt19">Anasayfa</a>
            </li>

            <li class="t-center m-b-13">
                <a asp-area="Musteri" asp-controller="Home" asp-action="Menu" class="txt19">Menü</a>
            </li>

            <li class="t-center m-b-13">
                <a asp-area="Musteri" asp-controller="Home" asp-action="Galeri" class="txt19">Galerİ</a>
            </li>

            <li class="t-center m-b-13">
                <a asp-area="Musteri" asp-controller="Home" asp-action="Hakkında" class="txt19">Hakkımızda</a>
            </li>

            <li class="t-center m-b-13">
                <a asp-area="Musteri" asp-controller="Home" asp-action="Blog" class="txt19">Blog</a>
            </li>

            <li class="t-center m-b-33">
                <a asp-area="Musteri" asp-controller="Home" asp-action="Iletisim" class="txt19">İletİşİm</a>
            </li>

            <li class="t-center">
                <!-- Button3 -->
                <a asp-area="Musteri" asp-controller="Home" asp-action="Rezervasyon" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
                    Rezervasyon
                </a>
            </li>
            @if(User.Identity.IsAuthenticated)
            {

                <li class="t-center m-b-33">
                    <a asp-area="Yonetici" asp-controller="Menu" asp-action="Index" target="_blank" class="txt19">Yönetİcİ Panelİ</a>
                </li>
                <li class="t-center">
                    <form class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto" asp-area="Identity" 
                    asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-white">ÇIKIŞ</button>
                    </form>
                </li>
            }
        </ul>

        <!-- - -->
    </aside>

    <!-- Slide1 -->
    @RenderBody()

    <!-- Welcome -->
    <!-- Footer -->
    <footer class="bg1">
        <div class="container p-t-40 p-b-70">
            <div class="row">
                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->
                    <h4 class="txt13 m-b-33">
                        İletİşİm
                    </h4>
                    @await Component.InvokeAsync("Iletisimim")

                </div>

                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->

                    <h4 class="txt13 m-b-32">
                        Çalışma Saatlerİmİz
                    </h4>

                    <ul>
                        <li class="txt14">
                            Her Gün
                        </li>

                        <li class="txt14">
                            08:00 – 24:00
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-4 p-t-50">

                    <!-- - -->
                    <h4 class="txt13 m-b-32">
                        Sosyal Medya
                    </h4>
                    <div class="p-t-5 p-b-5">
                        <a href="#" class="fs-15 c-white"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
                        <a href="#" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
                    </div>
                    <!-- Gallery footer -->

                </div>
            </div>
        </div>

        <div class="end-footer bg2">
            <div class="container">
                <div class="flex-sb-m flex-w p-t-22 p-b-22">
                  @*  <div class="p-t-5 p-b-5">
                        <a href="#" class="fs-15 c-white"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
                        <a href="#" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
                    </div>*@

                    <div class="txt17 p-r-20 p-t-5 p-b-5">
                        <a asp-area="Identity" asp-page="/Account/Login" target="_blank">Pita Restaurant</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

    <!-- Container Selection1 -->
    <div id="dropDownSelect1"></div>

    <!-- Modal Video 01-->
    <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog" role="document" data-dismiss="modal">
            <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

            <div class="wrap-video-mo-01">
                <div class="w-full wrap-pic-w op-0-0"><img src="/WebSite/images/icons/video-16-9.jpg" alt="IMG"></div>
                <div class="video-mo-01">
                    <iframe src="https://www.youtube.com/embed/5k1hSu2gdKE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>



    <!--===============================================================================================-->
    <script type="text/javascript" src="/WebSite/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/WebSite/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/WebSite/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="/WebSite/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/WebSite/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/WebSite/vendor/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/WebSite/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/WebSite/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="/WebSite/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/WebSite/vendor/parallax100/parallax100.js"></script>
    <script type="text/javascript">
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/WebSite/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="/WebSite/vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
    <script src="/WebSite/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")

</body>
</html>

