@model IEnumerable<restaurant.Models.Hakkında>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a asp-action="Create" class="btn btn-primary">Konu Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Başlık
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="bi bi-pencil"></i> Düzenle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-pencil"></i> Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
