@model IEnumerable<restaurant.Models.Iletisimim>

@foreach(var item in Model)
{
<ul class="m-b-70">
	<li class="txt14 m-b-14">
		<i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
		@item.Adres
	</li>

	<li class="txt14 m-b-14">
		<i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
		(+90) @item.Telefon
	</li>

	<li class="txt14 m-b-14">
		<i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
		@item.Email
	</li>
</ul>
}