
@{
    ViewData["Title"] = "Hakkında";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/WebSite/images/bg-title-page-03.jpg);">
	<h2 class="tit6 t-center">
		Hakkımızda
	</h2>
</section>


<!-- Our Story -->
<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
	<span class="tit2 t-center">
		Pita Restaurant
	</span>

	<h3 class="tit3 t-center m-b-35 m-t-5">
		Hİkayemİz
	</h3>
	@foreach(var item in Model)
	{
		<p class="t-center size32 m-l-r-auto">
			@item.Title
		</p>
		
	}


</section>
