@model restaurant.Models.Iletisim
@{
    ViewData["Title"] = "Iletisim";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/WebSite/images/bg-title-page-02.jpg);">
	<h2 class="tit6 t-center">
		İletİşİm
	</h2>
</section>

<!-- Contact form -->
<section class="section-contact bg1-pattern p-t-90 p-b-113">
	<!-- Map -->
	<div class="container">
		<div class="map bo8 bo-rad-10 of-hidden">
			<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1UQvMrM_FguV0kzEhm1eyFixQFtJ6_0M&ehbc=2E312F" width="1160" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
	
	<div class="container">
		<h3 class="tit7 t-center p-b-62 p-t-105">
			Mesajınızı İletebİlİrsİnİz
		</h3>

		<form class="wrap-form-reservation size22 m-l-r-auto" asp-action="Iletisim">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<div class="col-md-4">
					<!-- Name -->
					<span class="txt9">
						Adı
					</span>

					<div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
						<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" asp-for="Name" placeholder="Adı">
						<span asp-validation-for="Name"></span>
					</div>
				</div>

				<div class="col-md-4">
					<!-- Email -->
					<span class="txt9">
						Email
					</span>

					<div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
						<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" asp-for="Email" placeholder="Email">
						<span asp-validation-for="Email"></span>

					</div>
				</div>

				<div class="col-md-4">
					<!-- Phone -->
					<span class="txt9">
						Telefon
					</span>

					<div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
						<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" asp-for="Telefon" placeholder="Telefon">
						<span asp-validation-for="Telefon"></span>

					</div>
				</div>

				<div class="col-12">
					<!-- Message -->
					<span class="txt9">
						Mesaj
					</span>
					<textarea class="bo-rad-10 size35 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-3" asp-for="Mesaj" placeholder="Mesaj"></textarea>
					<span asp-validation-for="Mesaj"></span>

				</div>
			</div>

			<div class="wrap-btn-booking flex-c-m m-t-13">
				<!-- Button3 -->
				<button type="submit" class="btn3 flex-c-m size36 txt11 trans-0-4">
					Gönder		    
				</button>
			</div>
		</form>

	</div>
</section>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

