@model restaurant.Models.Rezervasyon
@{
    ViewData["Title"] = "Rezervasyon";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/WebSite/images/bg-title-page-02.jpg);">
    <h2 class="tit6 t-center">
        Rezervasyon
    </h2>
</section>


<!-- Reservation -->
<section class="section-reservation bg1-pattern p-t-100 p-b-113">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-b-30">
                <div class="t-center">
                    <span class="tit2 t-center">
                        Fima Restoran
                    </span>

                    <h3 class="tit3 t-center m-b-35 m-t-2">
                        Rezervasyon yapın
                    </h3>
                </div>

                <form class="wrap-form-reservation size22 m-l-r-auto" asp-action="Rezervasyon">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <!-- Date -->
                            <span class="txt9">
                                Tarih
                            </span>

                            <div class="wrap-inputdate pos-relative txt10 size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input asp-for="Tarih" class="bo-rad-10 sizefull txt10 p-l-20" type="date">
                                <span asp-validation-for="Tarih" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <!-- Time -->
                            <span class="txt9">
                                Saat
                            </span>

                            <div class="wrap-inputtime size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <!-- Select2 -->
                                <select class="selection-1" asp-for="Saat">
                                    <option>9:00</option>
                                    <option>9:30</option>
                                    <option>10:00</option>
                                    <option>10:30</option>
                                    <option>11:00</option>
                                    <option>11:30</option>
                                    <option>12:00</option>
                                    <option>12:30</option>
                                    <option>13:00</option>
                                    <option>13:30</option>
                                    <option>14:00</option>
                                    <option>14:30</option>
                                    <option>15:00</option>
                                    <option>15:30</option>
                                    <option>16:00</option>
                                    <option>16:30</option>
                                    <option>17:00</option>
                                    <option>17:30</option>
                                    <option>18:00</option>
                                    <option>18:30</option>
                                    <option>19:00</option>
                                    <option>19:30</option>
                                    <option>20:00</option>
                                </select>
                                <span asp-validation-for="Saat" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <!-- People -->
                            <span class="txt9">
                                Sayı
                            </span>

                            <div class="wrap-inputpeople size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <!-- Select2 -->
                                <select class="selection-1" asp-for="Sayi">
                                    <option>1 </option>
                                    <option>2 </option>
                                    <option>3 </option>
                                    <option>4 </option>
                                    <option>5 </option>
                                    <option>6 </option>
                                    <option>7 </option>
                                    <option>8 </option>
                                    <option>9 </option>
                                    <option>10 </option>
                                    <option>11 </option>
                                    <option>12 </option>
                                </select>
                                <span asp-validation-for="Sayi" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <!-- Name -->
                            <span class="txt9">
                                Adınız
                            </span>

                            <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input asp-for="Name"class="bo-rad-10 sizefull txt10 p-l-20" type="text" placeholder="Adınız">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <!-- Phone -->
                            <span class="txt9">
                                Telefon
                            </span>

                            <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input asp-for="TelefonNo" class="bo-rad-10 sizefull txt10 p-l-20" type="text" placeholder="Telefon">
                                <span asp-validation-for="TelefonNo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <!-- Email -->
                            <span class="txt9">
                                Email
                            </span>

                            <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input asp-for="Email"class="bo-rad-10 sizefull txt10 p-l-20" type="text" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="wrap-btn-booking flex-c-m m-t-6">
                        <!-- Button3 -->
                        <button type="submit" class="btn3 flex-c-m size13 txt11 trans-0-4">
                            Rezervasyon Oluştur
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


